<nav class="nav" id="nav">
  <div class="nav-inner">
    <a href="<%= root_path %>" class="logo"><span class="logo-mark"></span> Harys.id</a>
    <div class="nav-links">
      <a href="<%= root_path %>#profil">Profil</a>
      <a href="<%= root_path %>#pendekatan">Pendekatan</a>
      <a href="<%= root_path %>#karya">Karya</a>
      <a href="<%= posts_path %>">Blog</a>
      <a href="<%= root_path %>#kontak">Kontak</a>
    </div>
  </div>
</nav>
